.details_container {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid black;
}

.details_content {
  padding: 50px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.details_border {
  height: 1px;
  width: 30px;
  border-bottom: 2px solid #fff;
}

.who_i_am,
.what_i_do,
.get_in_touch {
  margin: 20px;
}

.who_i_am,
.what_i_do {
  border-right: 1px solid #fff;
}

.contact_details {
  margin: 10px 0 0;
}

/*  */
.contact_details li {
  list-style-type: none;
  margin: 10px;
}

.contact_details li:hover {
  cursor: pointer;
  color: #fff;
}

/* navbar links */
.contact_details li a {
  color: black;
  width: 100%;
  text-decoration: none;
}

.contact_details li a:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
  color: #fff;
}
