.App {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.backdrop {
  height: 60vh;
  text-align: center;
  background-color: blue;
}

.backdrop p {
  padding-top: 400px;
  margin: 0;
}

.write_up {
  height: 40vh;
  padding: 20px 0;
  background-color: green;
}

.details {
  height: 500px;
  background-color: yellow;
}

.footer {
  background-color: grey;
}
